<tr>
    <th scope="row"><%= index %></th>
    <td><%= checkin.first_name %></td>
    <td><%= checkin.last_name %></td>
    <td><%= checkin.temperature %></td>
    <td><%= checkin.created_at %></td>
</tr>